$principal-color: #2ab7ca;
$secondary-color: #ff6392;
$tertiary-color: #98ce00;

$gray-light: #e6e6ea;
$gray: darken($gray-light, 30%);
$gray-darker: darken($gray, 30%);

$white: #fff;
$ghost-white: #f4f4f8;
$black: #000;
$black-light: lighten($black, 10%);
$red: #ff0000;
