$default-color: #009fad;
$add-color: #1be082;
$dismiss-color: #e4545f;
$warning-color: #f6d3aa;

$gray-light: #f5f5f5;
$gray-dark: #a3a3a3;
$gray-darker: #4d4d4d;

$white: #fff;
$black: #000;
$black-light: lighten($black, 10%);

$red: #ff0000;
