.wrapper {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;

  label {
    font-size: 0.8em;
  }

  input {
    margin-right: 1em;
  }

  button:nth-child(1) {
    margin-right: 0.2em;
  }
}
