.itemEdit {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;

  &__formRow {   
    label {
      font-size: 0.8em;
      margin-left: 1em;
    }
    
    input,
    select {
      border: 0.2em solid #ccc;
      border-radius: 0.4em;
      box-sizing: border-box;
      padding: 0.3em;
    }
  }

  button:nth-child(1) {
    margin-right: 0.2em;
  }

  &--danger {
    border-color: #f00;
  }
}
