@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/variables.scss';

.itemEdit {
  gap: 1rem;
  @media screen and (max-width: $breakpoint-laptop) {
    flex-direction: column;
    gap: 1rem;
  }

  &__formItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &--danger {
    border: 2px solid $red !important;
  }

  &__select, input {
    font-size: 1rem;
    width: 100%;
    border: 1px solid $gray-dark;
    background-color: inherit;
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: 0.3em;

    @media screen and (min-width: $breakpoint-laptop) {
      min-width: calc($breakpoint-mobile);
    }
  }

  &__selectOption {
    display: inline-flex;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;

    span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      min-width: 1rem;
      min-height: 1rem;
    }
  }

  &__buttonGroup {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
  }
}
