@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/variables.scss';

.app {
  min-height: 100vh;
}

.dark-theme {
  background-color: $black-light;
  color: $gray-light;

  header {
    box-shadow: 0px 2px 7px darken($black-light, 10%);
  }

  .themeBg {
    background-color: $black;
  }

  .themeOppositeBg {
    background-color: $gray-light;
  }

  .themeText {
    color: $gray-light;
  }

  .themeBorder {
    border-color: $gray;
  }

  .themeWrapper, .select, .progressBar, header, input {
    background-color: $black;
    color: $gray-light;
  }

  .themeWrapper {
    border: solid 0.1rem $gray;
  }

  .errorText {
    color: lighten($red, 20%);
  }

  .options {
    div:hover {
      background-color: $black-light;
    }
  }

  input[type = 'text']::placeholder {
    color: $gray-light;
  }
}

.light-theme {
  background-color: $gray-light;
  color: $black;

  header {
    box-shadow: 0px 2px 7px darken($gray-light, 10%);
  }

  .themeText {
    color: $black;
  }

  .themeBg {
    background-color: $white;
  }

  .themeOppositeBg {
    background-color: $black;
  }

  .themeBorder {
    border-color: $gray;
  }

  .themeWrapper, .select, .progressBar, header, input {
    background-color: $white;
    color: $black;
  }

  .themeWrapper {
    border: solid 0.1rem $gray;
  }

  .errorText {
    color: $red;
  }

  .options {
    div:hover {
      background-color: $gray-light;
    }
  }

  input[type = 'text']::placeholder {
    color: $black;
  }
}

.toaster {
  z-index: $z-index-toast;
}