@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
.select,
button {
  font-family: Avenir, 'Trebuchet MS', sans-serif;
  font-size: 17px;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 14px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 16px;
  }
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  letter-spacing: 0.12rem;
}

h1 {
  font-size: 4rem;
  font-family: 'Prata';
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 1.7rem;
  }
  @media screen and (max-width: $breakpoint-laptop) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.7rem;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: $breakpoint-laptop) {
    font-size: 1.3rem;
  }
}

h3 {
  font-size: 1.4rem;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: $breakpoint-laptop) {
    font-size: 1.1rem;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  padding: 0.5rem;
}

.themeWrapper {
  border-radius: 0.5rem;
}

.select, input {
  font-size: 1rem;
  border: 1px solid $gray;
  background-color: inherit;
  border-radius: 0.3rem;
  padding: 0.3em;
}

input.danger {
  border: solid 2px $red;
}
