@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';

.select {
  background-color: inherit;
  position: relative;

  &__selected {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    gap: 1rem;

    svg {
      min-width: 1rem;
      min-height: 1rem;
    }
  }

  &__options {
    border-radius: 0.4rem;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    margin-top: 0.7rem;
    z-index: $z-index-dropdown;
    position: absolute;
    left: 0;
    right: 0;
  }

  &__option {
    padding: 0.5rem;
    transition: background-color 0.1s ease-in-out;

    &:focus-visible {
      outline: none;
      border: none;
    }
  }
}