.header {
  margin-bottom: 1em;

  h1 {
    font-size: 1.3em;
  }
}

.form {
  &Row {
    margin-bottom: 0.9em;
  }
  
  &Label {
    display: inline-block;
  }
  
  &Control {
    border: 0.2em solid #ccc;
    border-radius: 0.4em;
    box-sizing: border-box;
    padding: 0.3em;
    resize: vertical;
    width: 100%;
  }
}

.danger {
  border-color: #f00;
}

.button {
  &Group {
    display: flex;
    justify-content: space-between;
  }
}




