@import 'src/assets/styles/variables.scss';

.todoListHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 7rem;

  @media screen and (max-width: $breakpoint-laptop) {
    padding: 0.6rem 2rem;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0.4rem 0.5rem;
  }

  &__menuGroup {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }
}
