@import 'src/assets/styles/variables.scss';

.todoList__Header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7rem;

  @media screen and (max-width: $breakpoint-laptop) {
    padding: 1rem 2rem;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0.5rem 0.5rem;
  }
}
