@import 'src/assets/styles/colors.scss';

.authOnlineOffline {
  width: 100%;

  &__description {
    margin: 1rem 0;
    border-radius: 0.4rem;
    padding: 1rem 0.7rem;
    font-size: 0.9rem;
    color: $black;
  }

  .info {
    background-color: lighten($principal-color, 30%);
    border: 0.1rem solid $principal-color;
  }

  .warning {
    background-color: lighten($secondary-color, 20%);
    border: 0.1rem solid $secondary-color;
  }

  p:not(:last-child) {
    margin-bottom: 1rem;
  }

  svg {
    font-size: 1.3rem;
    margin-right: 0.2rem;
    margin-bottom: -0.2rem;
  }
}