@import 'src/assets/styles/colors.scss';

.progressBar {
  width: 100%;
  overflow: hidden;

  &__progress {
    height: 100%;
    color: $black;
    background-color: $tertiary-color;
    padding: 0.3rem 0;
    transition: width 0.5s ease;
    text-align: right;
  }

  &__text {
    display: block;
    padding: 0 0.3rem;
  }
}