.checkboxCrossed {
  display: inline-flex;
  cursor: pointer;
  gap: 0.5rem;

  svg {
    font-size: 1.1rem;
  }
}

@keyframes crossed{
  0%   { width : 0; }
  100% { width: 100%; }
}

.crossed {
  position: relative;
}

.crossed::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  animation-name: crossed;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}