@import 'src/assets/styles/colors';

.checkboxCrossed {
  display: inline-flex;
  cursor: pointer;
  gap: 0.5rem;

  svg {
    font-size: 1.1rem;
    color: $gray;
    min-width: 24px;
    display: block;
  }
}

.crossed {
  text-decoration: line-through;
}