@import 'src/assets/styles/colors';

@mixin button($color) {
  display: inline-flex;
  background-color: $color;
  border: solid 0.2rem darken($color, 10%);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.4rem;
  gap: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: darken($color, 10%);
  }
}

@mixin size($percent) {
  border-radius: 0.5rem * $percent;
  border-width: 0.2rem * $percent;
  font-size: 0.9rem * $percent;
  padding: 0.4rem * $percent;
  gap: 0.5rem * $percent;
}

.button {
  &--default {
    @include button($principal-color);
    color: #fff;
  }
  
  &--add {
    @include button($tertiary-color);
    color: #000;
  }
  
  &--dismiss {
    @include button($secondary-color);
    color: #fff;
  }

  &--small {
    @include size(0.65);
  }
  
  &--medium {
    @include size(0.85);
  }
  
  &--big {
    @include size(1);
  }

  &--icon {
    all: unset;
    cursor: pointer;
    color: $gray-dark;

    &:hover {
      color: $gray-darker;
    }
  }
}

