@import 'src/assets/styles/colors';

@mixin solid($color) {
  background-color: $color;
  border-style: solid;
  border-color: darken($color, 10%);
  border-radius: 1.5rem;

  &:hover, &:focus-visible {
    background-color: darken($color, 10%);
  }
}

@mixin icon($color) {
  all: unset;
  cursor: pointer;
  color: $color;

  &:hover {
    color: darken($color, 20%);
  }   

  &:focus-visible {
    border: solid 0.1rem $color;
    border-radius: 0.5rem;
  }
}

@mixin link($color) {
  border: none;
  background-color: transparent;
  color: $color;

  &:hover {
    font-weight: bold;
  }

  &:focus-visible {
    border: solid 0.1rem $color;
    border-radius: 0.5rem;
  }
}

@mixin size($percent) {
  border-width: 0.20rem * $percent;
  font-size: 1rem * $percent;
  padding: 0.4rem * $percent 1rem * $percent;
  gap: 0.5rem * $percent;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &--solid {
    &.button--default {
      @include solid($principal-color);
      color: $white;
    }
    &.button--add {
      @include solid($tertiary-color);
      color: $black;
    }
    &.button--dismiss {
      @include solid($secondary-color);
      color: $black;
    }
    &.button--disabled {
      @include solid($gray);
      color: $white;
    }
  }

  &--icon {
    &.button--default {
      @include icon($principal-color);
    }
    &.button--add {
      @include icon($tertiary-color);
    }
    &.button--dismiss {
      @include icon($secondary-color);
    }
    &.button--disabled {
      @include icon($gray);
    }
  }

  &--link {
    &.button--default {
      @include link($principal-color);
    }
    &.button--add {
      @include link($tertiary-color);
    }
    &.button--dismiss {
      @include link($secondary-color);
    }
    &.button--disabled {
      @include link($gray);
    }
  }

  &--small {
    @include size(0.65);
  }
  &--medium {
    @include size(0.85);
  }
  &--big {
    @include size(1);
  }
}
