.itemDisplay {
  border-left-style: solid;
  border-left-width: 0.2em;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  transition: opacity 0.3s;

  &:hover > &__buttonGroup {
    opacity: 1;
  }

  &__buttonGroup {
    opacity: 0;
    transition: opacity 0.3s;
  
    button:nth-child(1) {
      margin-right: 0.2em;
    }
  }

  &__task {
    margin-top: 0.2em;

    &--crossed {
      text-decoration: line-through;
    }
  }

  &__checkBox {
    cursor: pointer;
    margin-left: 0.5em;
    margin-right: 0.2em;
    zoom: 1.5;
  }
}
