@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./assets/fonts/AvenirLTStd-Roman.otf);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
input,
select,
button {
  font-family: Avenir, 'Trebuchet MS', sans-serif;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  letter-spacing: 0.12rem;
}
